body{
	background-color: #f5f9ff;
}
.menu-info {
	background-color: #e6e6e6;

}

@media (max-width: 768px) {
  .col-xs-12{
  width: 320px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  float:none;
}
}

